body{
    background-color: beige;
}

header{
    background-color: gray;
}
header p{
    text-align: right;
}

header img{
    width: 250px;
    height: 150px;

}

.art1{
    text-align: left;
    text-size-adjust: 16;
}

.art2{
    text-align: center;
    top: auto;
}

.art3{
    text-align: right;
}

.art4{
    text-align: center;
}

.img4{
    width: 2000px;
    height: 700px;
}

.img5{
    text-align: left;
    width: 400px;
    height: 250px;
}

.h2a3{
    text-align: center;
}

.h3a3{
    text-align: center;
}

.art5{
    background-color: white;
    text-align: center;

}

.art6{
    background-color: black;
}

.art6 img{
    text-align: center;
    width: 2000px;
    height: 500px;
}